<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yan.refreshloadlayouttest">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".OptionActivity"
        android:label="@string/activity_name"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>

    </activity>
    <activity
        android:name=".testactivity.NestedActivity"
        android:theme="@style/AppTheme.NoActionBar.Translucent"/>
    <activity
        android:name=".testactivity.SwipeTabActivity"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".testactivity.CommonActivity1"
        android:theme="@style/AppTheme.NoActionBar.Translucent"/>

    <activity
        android:name=".testactivity.CommonActivity2"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".testactivity.CommonActivity3"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".testactivity.CommonActivity4"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".testactivity.ScrollingActivity"
        android:label="@string/title_activity_scrolling"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".testactivity.ScrollingActivity2"
        android:label="@string/title_activity_scrolling"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:name=".testactivity.TabActivity"
        android:label="@string/title_activity_tab"></activity>
    <activity
        android:name=".testactivity.SlidingDownActivity"
        android:label="@string/title_activity_tab"></activity>
    <activity
        android:name=".testactivity.DiDiListViewActivity"
        android:label="@string/title_activity_tab"></activity>
  </application>

</manifest>